<body>
  <form class="bigcard" action="/api/users/add" method="POST">
    <div>
      <h2 class="cardheader">Signup</h2>
    </div>
    <div class="cardinput">
      <div class="inputdiv">
        <label for="username">Username</label>
        <input type="text" name="name" placeholder="Username" />
      </div>
      <div class="inputdiv">
        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" />
      </div>
      <button type="submit" href="/api/users/add" id="submitbtn">Signup</button>
    </div>
    <div class="commentdata">
      <a href="/login" class="loginswitch">Login instead?</a></div>
  </form>
</body>