<body>
  <section class="bigcard">
    <div>
      <h2 class="cardheader">Signup</h2>
    </div>
    <div class="cardinput">
      <div class="inputdiv">
        <label for="username">Username</label>
        <input type="text" placeholder="Username" />
      </div>
      <div class="inputdiv">
        <label for="password">Password</label>
        <input type="password" placeholder="Password" />
      </div>
      <button type="submit" id="submitbtn">Signup</button>
    </div>
  </section>
</body>